//out: null

@keyframes pulse {
    0% {box-shadow: 0 0 0 0 #B1B3B4}
}

@keyframes pulse_red {
    0% {box-shadow: 0 0 0 0 #aa0017}
}

@keyframes pulse_orange {
    0% {box-shadow: 0 0 0 0 #ae4900}
}

@keyframes pulse_yellow {
    0% {box-shadow: 0 0 0 0 #b89e00}
}

@keyframes pulse_green {
    0% {box-shadow: 0 0 0 0 #006f58}
}

@keyframes pulse_blue_light {
    0% {box-shadow: 0 0 0 0 #00729c}
}

@keyframes pulse_blue {
    0% {box-shadow: 0 0 0 0 #402fa9}
}

@keyframes pulse_violet {
    0% {box-shadow: 0 0 0 0 #86209f}
}

@keyframes aroma {
    0% {transform: scale(1);}
    10% {transform: scale(1.5);}
    20% {transform: scale(1);}
}

@keyframes sky {
    0% {transform: translate3d(0, 0, 0);}
    100% {transform: translate3d(-90%, 0, 0);}
}
