//out: null

@media (max-width: 1700px) {
    html {
        font-size: 12px;
    }

    .main {
        min-height: 600px;
    }
}

@media (max-width: 1200px) {
    .main {
        height: auto;
    }
}

@media (max-width: 768px) {
    .contact-form {
        width: 90%;
    }
}
