//out: null

@media (max-width: 1900px) {
    html {
        font-size: 12px;
    }

    .main {
        min-height: 600px;
    }

    .page_4 {

        &_content {
            height: 510px;

            .text {
                width: ~"calc(100% - 510px)";
            }

            .diagramm {
                width: 50%;
                width: 510px;

                .circle {

                    .diagramm_circle {
                        width: 450px;
                    }
                }

                .waves {
                    width: 510px;
                    height: 510px;
                }

                .parallax_img_wrap {

                    .parallax_img_block {

                        .parallax_img1 {
                            width: 464px;
                        }

                        .parallax_img2 {
                            width: 275px;
                        }

                        .parallax_img3 {
                            top: 220px;
                            width: 273px;
                        }
                    }
                }

                .aroma_wrap {
                    width: 510px;
                    height: 510px;

                    .aroma_block {

                        .aroma {
                            width: 10px;
                            height: 10px;
                        }

                        .aroma_1 {
                            top: 250px;
                            left: 26px;
                        }

                        .aroma_2 {
                            top: 230px;
                            left: 120px;
                            animation-delay: 1.2s;
                        }

                        .aroma_3 {
                            top: 451px;
                            left: 150px;
                            animation-delay: 3s;
                        }

                        .aroma_4 {
                            top: 29px;
                            right: 215px;
                            animation-delay: .7s;
                        }

                        .aroma_5 {
                            top: 340px;
                            left: 355px;
                            animation-delay: 4.3s;
                        }

                        .aroma_6 {
                            top: 150px;
                            right: 50px;
                            animation-delay: 1.1s;
                        }

                        .aroma_7 {
                            top: 250px;
                            right: 26px;
                            animation-delay: 3.9s;
                        }
                    }
                }

                &_imgs {

                    .aroma_name {

                        &_1 {
                            top: 55px;
                            left: 230px;
                        }

                        &_2 {
                            top: 85px;
                            left: 325px;
                        }

                        &_3 {
                            top: 150px;
                            left: 395px;
                        }

                        &_4 {
                            top: 250px;
                            left: 420px;
                        }

                        &_5 {
                            top: 335px;
                            left: 395px;
                        }

                        &_6 {
                            top: 410px;
                            left: 330px;
                        }

                        &_7 {
                            top: 435px;
                            left: 220px;
                        }

                        &_8 {
                            top: 410px;
                            left: 145px;
                        }

                        &_9 {
                            top: 340px;
                            left: 70px;
                        }

                        &_10 {
                            top: 240px;
                            left: 50px;
                        }

                        &_11 {
                            top: 155px;
                            left: 75px;
                        }

                        &_12 {
                            top: 85px;
                            left: 140px;
                        }
                    }

                    .diagramm_img {
                        width: 330px;
                        height: 330px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .main {
        height: auto;
    }
}

@media (max-width: 768px) {
    .contact-form {
        width: 90%;
    }
}
