//out: ../css/style.css, compress: true, autoprefixer: true
@import "reset";
@import "fonts";
@import "color";
@import "anim";

html {
    font-size: 20px;
}

body {
    font-family: ProximaNova;
    color: #B1B3B4;
}

.background {
    z-index: -3;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.stars {
    z-index: -1;
    position: fixed;
    background-color: #000;
}

.button {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 15px 30px;
    box-sizing: border-box;
    font-family: ProximaNova-Semibold;
    color: #9C9E9F;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #B1B3B4;
    overflow: hidden;
    transition: .5s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        display: block;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: rgba(99, 99, 99, .7);
        transition: .5s ease-in-out;
    }

    &:hover {
        color: #fff;

        &::before {
            padding: 55%;
            box-sizing: border-box;
        }
    }

    &.click {
        animation: pulse 1s;
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
}

.preloader {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;

    &_logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 120px;
    }

    .radiowaves {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
    }

    &_content {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 530px;

        &_text {
            color: #9C9E9F;
            text-align: center;

            .cookies_button {
                color: #fff;
                font-family: ProximaNova-Semibold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &_button {
            left: 50%;
            transform: translateX(-50%);
            margin-top: 30px;
            padding: 0 40px;
            font-size: .9rem;
            font-family: ProximaNova;

            .checkmark {
                display: inline-block;
                margin-right: 5px;
                transform: translateY(3px);
                font-size: 1.2rem;
            }
        }
    }
}

.menu {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 520px;
    height: 100%;
    transform: translate(-50%, -50%);

    .menu-list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 4.8rem;

        .menu-link {
            color: #9C9E9F;
            font-size: 2.95rem;
            text-transform: uppercase;

            &:hover {
                color: #D9DADB;
                font-family: ProximaNova-Bold;
            }
        }
    }

    .lang {
        position: absolute;
        bottom: 100px;

        li {
            display: inline-block;
            padding: 0 10px;
            box-sizing: border-box;
            width: 170px;
            text-align: center;
            border-right: 1px solid #87888A;

            &:last-child {
                border-right: none;
            }
        }

        &_link {
            color: #87888A;
            font-size: 1.5rem;
            text-transform: uppercase;

            &:hover,
            &.active {
                color: #D9DADB;
                font-family: ProximaNova-Semibold;
            }
        }
    }
}

.mouse {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    height: 30px;
}

.header {
    width: 100%;
    overflow-x: hidden;

    .logo-wrap {
        padding: 20px;
        float: left;

        .logo {
            width: 150px;
        }
    }

    .menu-button {
        z-index: 999;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transition: .5s ease-in-out;

        .burger {
            position: absolute;
            top: 32px;
            left: 50px;
            transform: translateY(-50%);
            display: block;
            width: 30px;
            height: 2px;
            background-color: #fff;
            background-image: @gradient;
            transform-origin: center;
            transition: .5s ease-in-out;

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: #fff;
                background-image: @gradient;
                transition: .5s ease-in-out;
            }

            &::before {
                top: -10px;
            }

            &::after {
                bottom: -10px;
            }
        }
    }


    .menu-open {
        box-shadow: 0 0 0 100vw #000, 0 0 0 100vh #fff;
        border-radius: 0;
        background-color: #000;

        .burger {
            transform: rotate(45deg);

            &::before {
                transform: rotate(90deg);
                top: 0;
            }

            &::after {
                transform: rotate(90deg);
                bottom: 0;
            }
        }
    }
}

.page_1 {
    padding: 100px 10% 0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;

    .text {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;

        .armand-logo,
        .logo {
            display: block;
            width: 70%;
        }

        .logo {
            margin-top: 30px;
        }

        &_tagline {
            margin: 50px 0;
            font-size: 1.8rem;
            font-family: ProximaNova-Bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        &_caption {
            font-size: 1.55rem;
            margin-bottom: 30px;
        }

        &_paragraph {
            font-size: 1.55rem;
            margin-bottom: 50px;
        }
    }

    .product_slider {
        width: 50%;

        &_slide {
            &_button {
                position: relative;
                display: block;

                .flask {
                    margin-top: 80px;
                    width: 90%;
                }

                .box {
                    z-index: -1;
                    position: absolute;
                    top: -50px;
                    left: 45%;
                    width: 45%;
                }
            }
        }
    }
}

.page_2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;

    .products_slider {
        margin: 0 auto;
        width: 90%;

        &_slide {
            width: 500px;

            &_button {
                position: relative;
                display: block;
                color: #B1B3B4;
                text-align: center;

                &_name {
                    font-size: 1.55rem;
                    font-family: ProximaNova-Bold;
                }

                &_description {
                    margin-top: 10px;
                    font-family: ProximaNova-Semibold;
                }

                &_info {
                    margin-top: 3px;
                }

                .flask {
                    margin-top: 80px;
                    width: 90%;
                }

                .box {
                    z-index: -1;
                    position: absolute;
                    top: -50px;
                    left: 45%;
                    width: 45%;
                }
            }
        }
    }
}

.page_3 {
    display: none;
    .character {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }

    &_content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 10%;
        box-sizing: border-box;
        display: flex;

        .text {
            width: 50%;
            padding: 10px;
            box-sizing: border-box;

            .armand-logo {
                display: block;
                width: 70%;
            }

            &_tagline {
                margin: 50px 0;
                font-size: 1.8rem;
                font-family: ProximaNova-Bold;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            &_caption {
                font-size: 1.55rem;
                margin-bottom: 30px;
            }

            &_paragraph {
                font-size: 1.55rem;
                margin-bottom: 50px;
            }
        }

        &_video {
            position: relative;
            width: 50%;

            &_button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #B1B3B4;
                text-align: center;
                font-size: 1.8rem;
                text-transform: uppercase;
                font-family: ProximaNova-Bold;
                transition: .3s;

                .watch_video_img {
                    display: block;
                    margin: 0 auto 20px;
                    width: 50px;
                }

                &:hover {
                    color: #D9DADB;

                    .watch_video_img {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

@import "media";
