//out: ../css/style.css, compress: true, autoprefixer: true
@import "reset";
@import "fonts";
@import "color";
@import "anim";

html {
    font-size: 20px;
}

body {
    font-family: ProximaNova;
    color: #B1B3B4;
    width: 100%;
    overflow-x: hidden;
}

.background {
    z-index: -3;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.stars {
    z-index: -1;
    position: fixed;
    background-color: #000;
}

.button {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 15px 30px;
    box-sizing: border-box;
    font-family: ProximaNova-Semibold;
    color: #9C9E9F;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #B1B3B4;
    overflow: hidden;
    transition: .5s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        display: block;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: rgba(99, 99, 99, .7);
        transition: .5s ease-in-out;
    }

    &:hover {
        color: #fff;

        &::before {
            padding: 55%;
            box-sizing: border-box;
        }
    }

    &.click {
        animation: pulse 1s;
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
}

.preloader {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;

    &_logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 120px;
    }

    .radiowaves {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
    }

    &_content {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 530px;

        &_text {
            color: #9C9E9F;
            text-align: center;

            .cookies_button {
                color: #fff;
                font-family: ProximaNova-Semibold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &_button {
            left: 50%;
            transform: translateX(-50%);
            margin-top: 30px;
            padding: 0 40px;
            font-size: .9rem;
            font-family: ProximaNova;

            .checkmark {
                display: inline-block;
                margin-right: 5px;
                transform: translateY(3px);
                font-size: 1.2rem;
            }
        }
    }
}

.menu {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 520px;
    height: 100%;
    transform: translate(-50%, -50%);

    .menu-list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 4.8rem;

        .menu-link {
            color: #9C9E9F;
            font-size: 2.95rem;
            text-transform: uppercase;

            &:hover {
                color: #D9DADB;
                font-family: ProximaNova-Bold;
            }
        }
    }

    .lang {
        position: absolute;
        bottom: 100px;

        li {
            display: inline-block;
            padding: 0 10px;
            box-sizing: border-box;
            width: 170px;
            text-align: center;
            border-right: 1px solid #87888A;

            &:last-child {
                border-right: none;
            }
        }

        &_link {
            color: #87888A;
            font-size: 1.5rem;
            text-transform: uppercase;

            &:hover,
            &.active {
                color: #D9DADB;
                font-family: ProximaNova-Semibold;
            }
        }
    }
}

.text {
    width: 50%;
    padding: 10px 30px;
    box-sizing: border-box;

    &_tagline {
        margin: 50px 0;
        font-size: 1.8rem;
        font-family: ProximaNova-Bold;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &_caption {
        font-size: 1.55rem;
        margin-bottom: 30px;
    }

    &_paragraph {
        font-size: 1.55rem;
        margin-bottom: 50px;
    }
}

.underline_button {
    position: relative;
    padding-bottom: 5px;
    color: #B1B3B4;
    font-size: 1.15rem;
    font-family: ProximaNova-Semibold;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: .5s ease-in-out;

    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #B1B3B4;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.0, 1.0);
        filter: blur(0);
    }

    &::after {
        width: 0;
        background-color: #fff;
        transform-origin: left;
        transition: .5s ease-in-out;
    }

    &:hover {
        color: #fff;
    }

    &:hover::after {
        width: 100%;
    }
}

.mouse {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    height: 30px;
    stroke: #707173;
    transition: .5s ease-in-out;
}

.mouse-white {
    stroke: #fff;
}

.header {
    width: 100%;
    overflow-x: hidden;

    .logo-wrap {
        z-index: 999;
        position: absolute;
        top: 20px;
        left: 20px;

        .logo {
            width: 150px;
        }
    }

    .menu-button {
        z-index: 999;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transition: .5s ease-in-out;

        .burger {
            position: absolute;
            top: 32px;
            left: 50px;
            transform: translateY(-50%);
            display: block;
            width: 30px;
            height: 2px;
            background-color: #fff;
            background-image: @gradient;
            transform-origin: center;
            transition: .5s ease-in-out;

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: #fff;
                background-image: @gradient;
                transition: .5s ease-in-out;
            }

            &::before {
                top: -9px;
            }

            &::after {
                bottom: -9px;
            }
        }
    }


    .menu-open {
        box-shadow: 0 0 0 100vw #000, 0 0 0 100vh #fff;
        border-radius: 0;
        background-color: #000;

        .burger {
            transform: rotate(45deg);

            &::before {
                transform: rotate(90deg);
                top: 0;
            }

            &::after {
                transform: rotate(90deg);
                bottom: 0;
            }
        }
    }
}

.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.page_1 {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;

    &_content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 10%;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .text {

        .armand-logo,
        .logo {
            display: block;
            width: 70%;
        }

        .logo {
            margin-top: 30px;
        }
    }

    .product_slider {
        width: 50%;

        &_slide {
            &_button {
                position: relative;
                display: block;

                .flask {
                    margin-top: 150px;
                    width: 90%;
                }

                .box {
                    z-index: -1;
                    position: absolute;
                    top: -110px;
                    left: 45%;
                    width: 45%;
                }
            }
        }
    }
}

.page_2 {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;

    .products_slider {
        margin: 0 auto;
        width: 90%;

        &_slide {
            width: 500px;

            &_button {
                position: relative;
                display: block;
                color: #B1B3B4;
                text-align: center;

                &_name {
                    margin-top: 30px;
                    font-size: 1.55rem;
                    font-family: ProximaNova-Bold;
                }

                &_description {
                    margin-top: 10px;
                    font-family: ProximaNova-Semibold;
                }

                &_info {
                    margin-top: 3px;
                }

                .flask {
                    margin-top: 110px;
                    width: 90%;
                }

                .box {
                    z-index: -1;
                    position: absolute;
                    top: -80px;
                    left: 45%;
                    width: 45%;
                }
            }
        }
    }
}

.page_3 {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;

    &_content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 10%;
        box-sizing: border-box;
        display: flex;

        .text {

            .armand-logo {
                display: block;
                width: 70%;
            }
        }
    }

    &_video {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        color: #B1B3B4;
        text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-family: ProximaNova-Bold;
        cursor: pointer;

        .character {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            transition: .5s ease-in-out;
        }

        &_button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .watch_video_img {
                display: block;
                margin: 0 auto 20px;
                width: 50px;
            }
        }

        &:hover .character {
            filter: grayscale(100%);
        }
    }

    .youtube_video {
        display: none;
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

    }
}

.page_4 {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;

    &_content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 10%;
        box-sizing: border-box;
        display: flex;

        .text {

            &_button {
                display: inline-block;
                font-size: 1.15rem;
            }
        }

        .diagramm {
            position: relative;
            width: 50%;
            .parallax_wrap {
                z-index: 5;
                position: relative;
                height: 100%;
                .parallax_block {
                    height: 100%;
                }
            }

            .dot {
                z-index: 2;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 0 0 25px #fff;
                transition: 1.5s ease-in-out;
            }

            .logo_img {
                z-index: 3;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                transition: 1.5s ease-in-out;

                &_path {
                    fill: #fff;
                }
            }

            .diagramm_circle {
                z-index: 1;
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 30px;
                width: 450px;
                fill: none;
                stroke: #fff;
                stroke-width: 3.6px;

                line {
                    stroke-miterlimit: 10;
                }

                path {
                    stroke-linejoin: round;
                }
            }

            .diagramm_gradient {
                stroke: url(#diagramm_gradient);

                .line_1 {
                    stroke: #b40a7b;
                }

                .line_2 {
                    stroke: #e10666;
                }

                .line_3 {
                    stroke: #e11928;
                }

                .line_4 {
                    stroke: #ea551a;
                }

                .line_5 {
                    stroke: #f28c10;
                }

                .line_6 {
                    stroke: #fee201;
                }

                .line_7 {
                    stroke: #94c21a;
                }

                .line_8 {
                    stroke: #0c943c;
                }

                .line_9 {
                    stroke: #00967d;
                }

                .line_10 {
                    stroke: #009bb3;
                }

                .line_11 {
                    stroke: #194998;
                }

                .line_12 {
                    stroke: #412381;
                }

                .line_13 {
                    stroke: #671b7f;
                }

                .line_14 {
                    stroke: #ec6717;
                }

                .line_15 {
                    stroke: #009049;
                }
            }
        }
    }
}

.page_5 {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;

    &_background {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        &_img,
        .parallax_block {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_img {
            object-fit: cover;
        }

        .parallax_block {
            .parallax_img {
                width: 110%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &_content {
        position: absolute;
        top: 30%;
        left: 10%;
        display: flex;
        padding: 10px 30px;
        background-image: radial-gradient(rgba(0, 0, 0, 1), transparent 70%);

        .cross {
            width: 20px;
        }

        .text {
            padding: 0 20px;
            width: 300px;
            color: #fff;

            &_tagline {
                margin: 0 0 30px;
            }
        }
    }

    .bottle {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        height: 80%
    }
}

.page_6 {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;

    &_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        &_caption {
            margin-bottom: 100px;
            display: flex;
            align-items: center;
            font-size: 2.3rem;
            text-transform: uppercase;

            .luxar {
                padding: 0 30px;
                height: 50px;
                fill: #b1b3b4;
            }

            &::before,
            &::after {
                content: '';
                margin: 0 20px;
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #b1b3b4;
            }
        }

        .underline_button {
            margin-bottom: 50px;
            display: inline-block;
            font-size: 1.5rem;
        }

        &_links {
            margin-top: 100px;

            .link {
                color: #B1B3B4;
                font-size: 1.15rem;
                font-family: ProximaNova-Semibold;
                text-transform: uppercase;
                transition: .5s ease-in-out;

                &:hover {
                    color: #fff;
                }

                &:first-child {
                    margin-right: 200px;
                }
            }
        }
    }
}

.active_page {
    visibility: visible;
    opacity: 1;
}

@import "media";
